.ant-table-thead tr {
  border-top: 1px solid #eaecf0;
  border-bottom: 1px solid #eaecf0;
  border-collapse: collapse;
}

.ant-table-thead tr .ant-table-cell {
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  font-family: "Inter", sans-serif;
  color: #475467 !important;
  background-color: #F9FAFB !important;
}

.ant-table-tbody tr .ant-table-cell {
  border-top: 1px solid #eaecf0;
  border-bottom: 1px solid #eaecf0;
  border-collapse: collapse;
}
