/* modal components antd */
.ant-modal-content {
  padding: 24px 24px 40px !important;
}

.ant-modal-content .ant-modal-header {
  margin-bottom: 0;
  padding-bottom: 15px !important;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #f1f5f9;
}

.ant-modal-content .ant-modal-header .ant-modal-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: 0.2px;
  color: #0e2259;
}

.ant-form-item {
  margin-bottom: 0;
}

.ant-form-item-control-input-content > input {
  height: 48px;
  padding: 12px 16px;
  color: #64748b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-color: #E2E8F0;
}