.ant-modal-content .ant-modal-header .ant-modal-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.ant-form-item .css-17hpjfn {
  margin-bottom: 0 !important;
}
